.posts-trough-name {
    margin: 0;
    padding: 20px;
}

.post {
    margin-bottom: 10px;
}

.post-date,
.post-comment-date {
    color: #ccc;
    font-size: 12px;
}

.post-image {
    max-width: 100%;
}

.post-text {
    margin: 0;
    white-space: pre-line;
    font-size: 18px;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    line-height: 1.5;
}

.post-comment-text {
    padding-left: 30px;
}

.posts-new {
    position: sticky;
    bottom: 0;
}

.posts-new-invoker {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    background: rgba(255, 255, 255, 0.95);
}

.posts-new-form {
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.95);
}

.like-container {
    padding: 5px;
    text-decoration: none;
}
/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
    font-family: "EmojiSymbols";
    src: url("../fonts/EmojiSymbols-Regular.woff") format("woff");
}
.like-button {
    font-size: 16px;
    font-family: "Times", "Times New Roman", "serif", "sans-serif", "EmojiSymbols";
}