doctype html
html
    head
        title Feed
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/feed/css/style.css')
    body
        block content
