extends layout

block content
    table(class='users-table')
        tr
            th Username
            th Role
            th Registered
            if role === 'admin'
                th Last login
        each user in users
            tr
                td= user.username
                td= user.role
                td= user.date
                if user.lastLogin
                    td= user.lastLogin
        else
            li There are no users yet